.addDeployment {
  text-align: center;
}

.deploymentDescription {
  text-align: justify;
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 120%;
}

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: #fff;
}

.deployment-list {

  .white-tooltip + .tooltip > .tooltip-inner {
    background-color: #fff;
  }
}

.tooltip.in {
  opacity: 1;
}

.tooltip-inner {
  max-width: 100% !important;
}
