.addDeployment {
  text-align: center;
}

.deploymentDescription {
  text-align: justify;
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 120%;
}

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: #fff;
  border: 1px solid #666;
}

.tooltip.in {
  opacity: 1;
}

.tooltip-inner {
  max-width: 100% !important;
}

.no-deployments-info {
  font-size: 40px;
  text-align: center;
  padding: 50px 0 !important;
}