$icon-font-path: '/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import 'layoutVariables';
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.addDeployment {
  text-align: center;
}

.deploymentDescription {
  text-align: justify;
  width: 50%;
  margin: 0 auto;
  display: block;
  font-size: 120%;
}

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: #fff;
}

.deployment-list {

  .white-tooltip + .tooltip > .tooltip-inner {
    background-color: #fff;
  }
}

.tooltip.in {
  opacity: 1;
}

.tooltip-inner {
  max-width: 100% !important;
}

.ng-table {

  .active {
    color: #069509;
    @extend .glyphicon;
    @extend .glyphicon-ok;
  }

  .inactive {
    color: #c70000;
    @extend .glyphicon;
    @extend .glyphicon-ban-circle;
  }

  .any {
    @extend .glyphicon;
    @extend .glyphicon-minus;
  }

  .remove {
    font-size: 110%;
    font-weight: bold;
    cursor: pointer;
    @extend .glyphicon;
    @extend .glyphicon-remove;
  }

  .remove:hover {
    color: #c70000;
  }

}