@import 'layoutVariables';
@import "compass/css3";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $logo-height + $menu-height;
  background: url('../images/bg.png') repeat;
  z-index: 100;

  .logoText {
    color: $main-color;
    text-align: center;
    width: 70%;
    height: $logo-height - 10px;
    margin: 10px auto 0 auto;
    font-size: ($logo-height) / 2;
    font-family: 'Oswald', sans-serif;
  }

  .menu {
    width: 70%;
    font-size: 120%;
    margin: 0 auto;
  }

  .nav-tabs {
    text-align:center;

    li {
      float: none;
      display: inline-block;
    }

    li.active > a, li.active > a:hover, li.active > a:link, li.active > a:visited {
      background-color: $background;
    }

  }
}

.content {
  width: 70%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: $background;
  padding: ($logo-height + $menu-height + 20px) 0 20px 0;
  margin: 0 auto;
}
