@import 'mixins/centre';
@import 'mixins/borderRadius';
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

.login-container{
  width: 520px;
  height: 220px;
  background-color: white;

  @include centre();
  @include border-radius(10px);
  @include box-shadow(0 0 30px black);
}

.login-form{
  color: blue;
  width: 85%;

  @include centre();
}