@import 'sweetalert/lib/sweet-alert';

//variables
@import 'layoutVariables';

//styles
@import 'layout';
@import 'error';
@import 'login';
@import 'fileUpload';
@import 'deployment';
@import 'task';
@import 'ng-table';

//animations
@import 'errorShake';

html, body {
  overflow: auto;
  background-color: $background;
  font-size: 12pt;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, a:link, a:visited{
  color: $main-color;
}

a:hover, a:active{
  color: $main-color-darker;
}

h1 {
  color: $main-color-darker;
}

h2 {
  margin-top: 0;
  color: $main-color;
  font-size: 110%;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: $main-color;
  border-left-color: $main-color;
}

#loading-bar .bar {
  background: $main-color;
}