@import "layoutVariables";

.progress-bar-center {
  position: relative;

  span {
    position: absolute;
    display: block;
    width: 100%;
    color: $text-color;
  }
}

.header-table {
  width: 100%;
}

.header-table td:nth-child(1) {
  text-align: left;
}

.header-table td:nth-child(2) {
  text-align: right;
}

.btn-semi-lg {
  font-size: 16px !important;
}

.form {
  width: 80%;
  margin: 0 auto;

  .form-data-piece {
    float: left;
    width: 33%;
    padding: 3px 10px;

    .label {
      font-size: 90%;
      font-weight: bold;
      color: $text-color;
    }

    .progress-bar-big {
      height: 30px;

      span {
        font-size: 17px;
        margin-top: 5px;
      }
    }
  }

  .fields {
    clear: both;
    margin: 0 auto;
    width: 60%;
  }
}

.form-buttons {
  text-align: center;
  margin-top: 20px;

  button {
    margin: 0 10px;
  }
}

input.ng-invalid:not(.ng-pristine), form.ng-submitted input.ng-invalid {
  border: 1px solid red;
}

label.ng-invalid:not(.ng-pristine), form.ng-submitted label.ng-invalid {
  color: red;
}