<div class="logo">
    <div class="logoText">BPM Console</div>
    <div class="menu">
        <ul class="nav nav-tabs">
            <li role="presentation" ui-sref-active="active"><a ui-sref="app.tasks.inbox" ng-bind="msg.base.menu.inbox"></a></li>
            <li role="presentation" ui-sref-active="active"><a ui-sref="app.tasks.awaiting" ng-bind="msg.base.menu.awaitingTasks"></a></li>
            <li admin role="presentation" ng-class="{active: stateIncludes('deployments')}" dropdown class="dropdown">
                <a class="dropdown-toggle" dropdown-toggle href="#" role="button" aria-expanded="false">
                    <span ng-bind="msg.base.menu.deployments.dropdown"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a ui-sref="app.deployments.add" ng-bind="msg.base.menu.deployments.add"></a></li>
                    <li role="presentation"><a ui-sref="app.deployments.list" ng-bind="msg.base.menu.deployments.list"></a></li>
                </ul>
            </li>
            <li admin role="presentation" ui-sref-active="active"><a ui-sref="app.instances"
                                                               ng-bind="msg.base.menu.instances"></a></li>
            <li admin role="presentation" ng-class="{active: stateIncludes('users') || stateIncludes('groups')}"
                dropdown class="dropdown">
                <a class="dropdown-toggle" dropdown-toggle href="#" role="button" aria-expanded="false">
                    <span ng-bind="msg.base.menu.users.dropdown"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a ui-sref="app.users.add" ng-bind="msg.base.menu.users.addUser"></a></li>
                    <li role="presentation"><a ui-sref="app.users.list" ng-bind="msg.base.menu.users.listUsers"></a></li>
                    <li role="presentation"><a ui-sref="app.groups.add" ng-bind="msg.base.menu.users.addGroup"></a></li>
                    <li role="presentation"><a ui-sref="app.groups.list" ng-bind="msg.base.menu.users.listGroups"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="content" ui-view></div>