<table class="header-table">
    <tr>
        <td>
            <h1 ng-show="type == 'inbox'">{{msg.tasks.inbox.title}}</h1>

            <h1 ng-show="type == 'awaiting'">{{msg.tasks.awaiting.title}}</h1>
        </td>
        <td>
            <button class="btn btn-semi-lg btn-primary" ng-click="goToProcessesList()">{{msg.tasks.startNewProcess}}
            </button>
        </td>
    </tr>
</table>
<table ng-table="tableParams" show-filter="!empty" class="table">
    <colgroup ng-if="type == 'inbox'">
        <col width="25%"/>
        <col width="20%"/>
        <col width="15%"/>
        <col width="20%"/>
        <col width="20%"/>
    </colgroup>
    <colgroup ng-if="type == 'awaiting'">
        <col width="25%"/>
        <col width="19%"/>
        <col width="15%"/>
        <col width="16%"/>
        <col width="16%"/>
        <col width="9%"/>
    </colgroup>
    <tbody ng-repeat="group in $groups">
    <tr class="ng-table-group">
        <td colspan="{{$columns.length}}">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon"
                              ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                <strong>{{group.value}}</strong>
            </a>
        </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-click="openTask(task.id, $event)" ng-repeat="task in group.data"
        class="table-row-hover">
        <td data-title="msg.tasks.tableHeaders.name" sortable="'name'" filter="{ 'name': 'text' }">
            {{task.name}}
        </td>
        <td data-title="msg.tasks.tableHeaders.processName" sortable="'processName'"
            filter="{ 'processName': 'text' }">
            {{task.processName}}
        </td>
        <td data-title="msg.tasks.tableHeaders.createTime" sortable="'createTime'">
            {{task.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </td>
        <td data-title="msg.tasks.tableHeaders.priority" sortable="'priority'">
            <progressbar value="task.priority" type="{{progressBarType(task.priority)}}"></progressbar>
        </td>
        <td style="text-align: center" data-title="msg.tasks.tableHeaders.dueDate"
            sortable="'dueDate'">
            <progressbar class="progress-bar-center"
                         value="task.dueDate ? dateProgress(task.dueDate, task.createTime) : 100"
                         type="{{task.dueDate ? progressBarType(dateProgress(task.dueDate, task.createTime)) : 'success'}}">
                {{task.dueDate ? (task.dueDate | date:'yyyy-MM-dd HH:mm:ss') : msg.tasks.noDueDate}}
            </progressbar>
        </td>
        <td ng-if="type == 'awaiting'">
            <button type="button" class="btn btn-block btn-success"
                    ng-click="claim(task.id)">
                {{msg.tasks.awaiting.claim}}
            </button>
        </td>
    </tr>
    </tbody>
    <tr ng-if="empty">
        <td colspan="{{type === 'inbox' ? 5 : 6}}" style="text-align: center">
            No processes for you, sir!
        </td>
    </tr>
</table>
