<div class="user-edit">
    <table class="header-table">
        <tr>
            <td>
                <h1 ng-if="isNew">{{msg.users.edit.new.title}}</h1>

                <h1 ng-if="!isNew">{{msg.users.edit.existing.title}} {{user.id}}</h1>
            </td>
            <td>
                <button admin class="btn btn-semi-lg btn-primary" ng-click="editGroups()">{{msg.users.edit.editGroups}}
                </button>
            </td>
        </tr>
    </table>
    <div class="fields">
        <form name="userForm" class="form-horizontal" novalidate ng-submit="save()">
            <fieldset>
                <div class="control-group">
                    <label class="control-label"
                           ng-class="{'ng-invalid': !userForm.id.$pristine && userForm.id.$invalid}" for="id">
                        {{msg.users.list.tableHeaders.id}}<span ng-if="isNew">*</span>
                    </label>

                    <div class="controls">
                        <input class="form-control" type="text" id="id" name="id" ng-model="user.id" ng-required="isNew"
                               ng-readonly="!isNew" ng-minlength="2" ng-maxlength="32"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"
                           ng-class="{'ng-invalid': !userForm.firstName.$pristine && userForm.firstName.$invalid}"
                           for="firstName">{{msg.users.list.tableHeaders.firstName}}*</label>

                    <div class="controls">
                        <input class="form-control" type="text" id="firstName" name="firstName"
                               ng-model="user.firstName" ng-required="true" ng-minlength="2" ng-maxlength="32"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"
                           ng-class="{'ng-invalid': !userForm.lastName.$pristine && userForm.lastName.$invalid}"
                           for="lastName">{{msg.users.list.tableHeaders.lastName}}*</label>

                    <div class="controls">
                        <input class="form-control" type="text" id="lastName" name="lastName" ng-model="user.lastName"
                               ng-required="true" ng-minlength="2" ng-maxlength="32"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"
                           ng-class="{'ng-invalid': !userForm.email.$pristine && userForm.email.$invalid}" for="email">
                        {{msg.users.list.tableHeaders.email}}*
                    </label>

                    <div class="controls">
                        <input class="form-control" type="email" id="email" name="email" ng-model="user.email"
                               ng-required="true"/>
                    </div>
                </div>
                <div not-admin class="control-group">
                    <label class="control-label" ng-class="{'ng-invalid': userForm.currentPassword.$invalid}"
                           for="currentPassword">{{msg.users.list.tableHeaders.currentPassword}}</label>

                    <div class="controls">
                        <input class="form-control" type="password" id="currentPassword" name="currentPassword"
                               ng-model="user.currentPassword" ng-required="!admin && user.newPassword"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"
                           ng-class="{'ng-invalid': (!isNew || !userForm.newPassword.$pristine) && userForm.newPassword.$invalid}"
                           for="newPassword">{{msg.users.list.tableHeaders.newPassword}}<span
                            ng-if="isNew">*</span></label>

                    <div class="controls">
                        <input class="form-control" type="password" id="newPassword" name="newPassword"
                               ng-model="user.newPassword" ng-required="isNew || (!admin && user.currentPassword)"/>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="button" class="btn btn-lg btn-warning" ui-sref="app.users.list">
                        {{msg.users.edit.back}}
                    </button>
                    <button ng-if="!isNew && admin" type="button" class="btn btn-lg btn-danger" ng-click="deleteUser()">
                        {{msg.users.edit.delete.button}}
                    </button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-disabled="!userForm.$valid">
                        {{msg.users.edit.save}}
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>